<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.trip.mapper.ContentMapper">
	
	<insert id="insert">
		insert into content(content_id, addr1, addr2, phone, areaname, contentType, cExplain)
		values(#{content_id}, #{addr1},#{addr2},#{phone},#{areaname},#{contentType},#{cExplain})
	</insert>
	
	<select id="contentList" resultType="kr.trip.domain.ContentVO">
		select content_id, contentType, addr2, likeNum from content
		where areaname = #{areaname}
		</select>
	
	<select id="read" resultType="kr.trip.domain.ContentVO">
		select contentType, addr2, likeNum from content
		where content_id = #{content_id}
	</select>
	
</mapper>